[submodule "lib/Arduino-Makefile"]
	path = lib/Arduino-Makefile
	url = git@github.com:sudar/Arduino-Makefile.git
[submodule "lib/SevSeg"]
	path = lib/SevSeg
	url = git@github.com:schizobovine/SevSeg.git
